h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f8f9fa
}
.btn-primary {
    color: #fff;
    background-color: #00ff229a !important;
    border-color: #6d031e !important;   
}

.btn-primary:hover {
    box-shadow: 5px 10px #888888;
}

button:hover {
    box-shadow: 5px 10px #888888;      
}
/*footer {
    display: flex;
    padding: 20px;
}
footer ul {
    padding-left: 100px;
}*/

footer li {
    display: inline;
    padding: 20px auto;
  margin: 20px 20px ;
  align-items: center;
  justify-items: center;
}
footer ul {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
}

h2 {
    margin-top: 1em;
}

a:hover {
    background-color: yellow;
    cursor:pointer;
}
